{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
  ],
  "env": {
    "node": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "consistent-return": "warn",
    "object-curly-newline": "off"
  }
}
